body {
    font-family: "Teko", sans-serif;
  }
  
  .form-container {
    background-color: #f0f0f0; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
  }
  
  .form-label {
    color: black;
    font-weight: 600;
  }
  
  .form-control {
    border: 1px solid #0b9278;
    border-radius: 4px;
    padding: 10px; 
    font-size: 2rem; 
  }
  
  .form-control.wide-input {
    width: calc(100% + 20px); 
    max-width: calc(100% + 20px); 
  }
  
  .btn-primary {
    font-size: 20px;
    margin-left: 130px;
    height: 50px;
    width:300px;
    background-color: #046f57;
    border-color: #046f57;
  }
  
  .btn-primary:hover {
    background-color: #0b9278;
    border-color: #0b9278;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  